.DS_Store
Titanic/.DS_Store
Titanic/mlp_submission.csv
Titanic/test.csv
Titanic/titanic_mlp_model.h5
Titanic/train.csv
Titanic/xgboost_model.json
Titanic/xgboost_submission.csv
BinaryBankChurn/test.csv
BinaryBankChurn/train.csv
BinaryBankChurn/xgboost_prediction.csv
BinaryBankChurn/__pycache__/AllINeed.cpython-311.pyc
BinaryBankChurn/__pycache__/DataShop.cpython-311.pyc
BinaryBankChurn/__pycache__/TheNavigator.cpython-311.pyc
BinaryBankChurn/bank_churn_xgboost.json
BinaryBankChurn/forward_predicion.csv
BinaryBankChurn/__pycache__/AllINeed.cpython-310.pyc
BinaryBankChurn/__pycache__/DataShop.cpython-310.pyc
BinaryBankChurn/__pycache__/TheNavigator.cpython-310.pyc
BinaryBankChurn/throwaway.py
*.h5
*.csv
*.pyc
*-checkpoint.py
*-checkpoint.ipynb
*.npz
