.DS_Store
Titanic/.DS_Store
Titanic/mlp_submission.csv
Titanic/test.csv
Titanic/titanic_mlp_model.h5
Titanic/train.csv
Titanic/xgboost_model.json
Titanic/xgboost_submission.csv
BinaryBankChurn/test.csv
BinaryBankChurn/train.csv
